.footer-wrapper{
    color: #D6D6D6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;

    .footer-text {
        margin-right: 15px;
    }

    .link {
        margin-right: 15px;
    }
}