<div class="tabs-container">
    <div (click)="changeTab(tabs.HOME)" routerLink="/dashboard/home" routerLinkActive="active" class="signature"><img
            src="../../assets/images/signature.png" /></div>

    <div class="tab" routerLink="/dashboard/home" routerLinkActive="active" (click)="changeTab(tabs.HOME)"
        [ngClass]="{'selected': selectedTab === tabs.HOME}">Home</div>
    <div class="tab" routerLink="/dashboard/resume" routerLinkActive="active" (click)="changeTab(tabs.RESUME)"
        [ngClass]="{'selected': selectedTab === tabs.RESUME}">Résumé
    </div>
    <div class="tab" routerLink="/dashboard/skills" routerLinkActive="active" (click)="changeTab(tabs.SKILLS)"
        [ngClass]="{'selected': selectedTab === tabs.SKILLS}">Skills
    </div>
    <div class="tab" routerLink="/dashboard/portfolio" routerLinkActive="active" (click)="changeTab(tabs.PORTFOLIO)"
        [ngClass]="{'selected': selectedTab === tabs.PORTFOLIO}">Portfolio
    </div>
    <div class="tab" routerLink="/dashboard/contact" routerLinkActive="active" (click)="changeTab(tabs.CONTACT)"
        [ngClass]="{'selected': selectedTab === tabs.CONTACT}">Contact
    </div>
</div>