<div class="skills-container">
    <div class="skills-sub-container">
        <img class="tab-header" src="../../assets/images/skills.png" />

        <ul>
            <li>Angular</li>
            <li>Bootstrap</li>
            <li>Section 508 Compliance</li>
            <li>Node.js</li>
            <li>SCSS</li>
            <li>RXJS</li>
            <li>Foundation</li>
            <li>MySQL</li>
            <li>Docker</li>
            <li>Azure DevOps</li>
            <li>Ionic</li>
            <li>React.js</li>
            <li>React-Redux</li>
            <li>Redux-Sagas</li>
            <li>JavaScript</li>
            <li>PostgreSQL</li>
            <li>jQuery</li>
            <li>HTML</li>
            <li>Report Writing</li>
            <li>Risk Assessments</li>
            <li>Motivational Interviewing</li>
        </ul>

    </div>

</div>