<div class="portfolio-container">
    <div class="portfolio-sub-container">
        <img class="tab-header" src="../../assets/images/portfolio.png" />
        <!-- <app-coming-soon-placeholder [text]="'Check back later for updates on projects I am currently working on.'"></app-coming-soon-placeholder> -->
        <div class="portfolio-subheader-container">
            <div class="portfolio-subheader">Spot the Squatch</div>
            <a class="link" target="_blank" href="https://github.com/ryanmundy/bigfoot-tracker"><img height="25px"
                    src="../../assets/images/GitHub-Mark-32px.png" alt="github" class="github-link" /></a>
            <div class="languages-used">Angular - Node - PostgreSQL</div>
            <div class="project-description">This is a simple web application built to provide those who enjoy keeping an
                eye out for the elusive bigfoot (or sasquatch) a way to report their own and follow and comment on other's sightings.
                This includes an Angular front-end that utilizes Google Maps and a Node backend which handles geocoding,
                reverse geocoding, and other features. This application also includes Passport authentication in addition to
                an admininstrator approval process for all sightings before being published.</div>
        </div>
        <p-carousel [value]="bigfootProjectMedia" [circular]="true">
            <ng-template let-mediaItem pTemplate="item">
                <img class="carousel-img" src="../../assets/images/spot-the-squatch/{{mediaItem.image}}" />
                <div class="carousel-caption">{{mediaItem.title}}</div>
            </ng-template>
        </p-carousel>
    </div>

</div>