<div class="resume-container">
    <div class="resume-sub-container">
        <img class="tab-header" src="../../assets/images/resume.png" />

        <div class="links-container">
            <a class="link" target="_blank" href="https://github.com/ryanmundy"><img class="link"
                    src="../../assets/images/GitHub_Logo.png" /></a>
            <a class="link" target="_blank" href="https://www.linkedin.com/in/ryan-mundy-4b147b88/"><img class="link"
                    src="../../assets/images/Logo-Black-48px-R.png" /></a>
        </div>

        <div class="education-container">
            <div class="education-header">Education</div>

            <div class="education-subheader">Prime Digital Academy</div>
            <div class="education-content">Full Stack Software Engineering Certification, 2019</div>

            <div class="education-subheader">Hamline University</div>
            <div class="education-content">Bachelor of Arts, Criminal Justice, 2013</div>
        </div>

        <div class="experience-container">

            <div class="experience-header">Experience</div>
            <div class="experience-instructions">({{mobileView ? 'click on' : 'hover over'}} experience to expand
                details)
            </div>

            <p-accordion [activeIndex]="accordionIndex">
                <p-accordionTab [transitionOptions]="'500ms'" header="Angular Developer, TDMK Digital (2021 - 2023)"
                    (mouseover)="openAccordion(0)" (mouseleave)="closeAccordion()">
                    <ul>
                        <li>Check back for details on this experience</li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab [transitionOptions]="'500ms'"
                    header="Software Engineer, Design Interactive (2019 - 2021)" (mouseover)="openAccordion(1)"
                    (mouseleave)="closeAccordion()">
                    <ul>
                        <li>Experience working on full-stack web applications on a variety of projects in an an agile
                            environment</li>
                        <li>Experience working on projects involving extended reality, bio signature analytics, and
                            performance augmentation</li>
                        <li>Experience serving as the primary front end developer and assisting on backend development
                            on a
                            project for nearly two
                            years</li>
                        <li>Experience helping out other teams for short periods of time when needed</li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab [transitionOptions]="'500ms'" header="Student, Prime Digital Academy (2018 - 2019)"
                    (mouseover)="openAccordion(2)" (mouseleave)="closeAccordion()">
                    <ul>
                        <li>Experience working with both front-end and back-end development on a variety of web
                            application
                            projects</li>
                        <li>Experience learning new skills in a fast-paced environment and effectively putting them into
                            practice</li>
                        <li>Experience learning how to work effectively both individually and collaborating as a part of
                            a
                            team</li>
                        <li>Experience public speaking and presenting my work in front of others</li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab [transitionOptions]="'500ms'"
                    header="Probation Officer, Ramsey County Community Corrections (2017 - 2018)"
                    (mouseover)="openAccordion(3)" (mouseleave)="closeAccordion()">
                    <ul>
                        <li>Experience using evidence based practices to supervise a diverse caseload of male and female
                            clients involved with the
                            criminal justice system</li>
                        <li>Experience setting goals for others and holding them accountable</li>
                        <li>Experience working in a diverse, team based environment</li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab [transitionOptions]="'500ms'"
                    header="Correctional Officer II, Ramsey County Community Corrections (2014 - 2019)"
                    (mouseover)="openAccordion(4)" (mouseleave)="closeAccordion()">
                    <ul>
                        <li>Experience supervising a diverse group of male and female clients serving time as a result
                            of
                            their involvement with the
                            criminal justice system</li>
                        <li>Experience co-facilitating cognitive behavioral therapy groups for incarcerated individuals
                        </li>
                        <li>Experience working in a diverse, team based environment</li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab [transitionOptions]="'500ms'" header="Shift Leader, Culver's (2008 - 2015)"
                    (mouseover)="openAccordion(5)" (mouseleave)="closeAccordion()">
                    <ul>
                        <li>Experience as both a team member and a supervisor in a customer service setting</li>
                        <li>Experience interacting with a diverse staff and community</li>
                    </ul>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>

</div>