<div>
    <app-tabnav *ngIf="!mobileView"></app-tabnav>

    <div class="mobile-header" *ngIf="mobileView">
        <img (click)="openCloseMobileMenu()" class="menu-icon" src="../../assets/images/SVG/menu.svg" />
        <div (click)="selectedTab = tabs.HOME" routerLink="/dashboard/home" routerLinkActive="active" class="signature">
            <img class="signature-graphic" src="../../assets/images/signature.png" />
        </div>
    </div>



    <div class="view-panel">
        <img *ngIf="mobileView && onHomeView" class="mobile-portrait" src="../../assets/images/portrait.jpg" />

        <div class="content-container">
            <div [ngClass]="{'opaque-background': !onHomeView}" class="content-sub-container">
                <div class="content-pain">
                    <router-outlet></router-outlet>
                </div>

                <div class="footer-container">
                    <app-footer></app-footer>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="tabs-container" *ngIf="mobileMenuOpen && mobileView">
    <img (click)="openCloseMobileMenu()" class="close-icon" src="../../assets/images/SVG/close.svg" />

    <div class="tab" routerLink="/dashboard/home" routerLinkActive="active" (click)="changeTab(tabs.HOME)"
        [ngClass]="{'selected': selectedTab === tabs.HOME}">Home</div>
    <div class="tab" routerLink="/dashboard/resume" routerLinkActive="active" (click)="changeTab(tabs.RESUME)"
        [ngClass]="{'selected': selectedTab === tabs.RESUME}">Résumé
    </div>
    <div class="tab" routerLink="/dashboard/skills" routerLinkActive="active" (click)="changeTab(tabs.SKILLS)"
        [ngClass]="{'selected': selectedTab === tabs.SKILLS}">Skills
    </div>
    <div class="tab" routerLink="/dashboard/portfolio" routerLinkActive="active" (click)="changeTab(tabs.PORTFOLIO)"
        [ngClass]="{'selected': selectedTab === tabs.PORTFOLIO}">Portfolio
    </div>
    <div class="tab" routerLink="/dashboard/contact" routerLinkActive="active" (click)="changeTab(tabs.CONTACT)"
        [ngClass]="{'selected': selectedTab === tabs.CONTACT}">Contact
    </div>
</div>